<!-- index.html -->
<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <title>index</title>
<link href=./Public/Backstage/index.02be02b69867216c984a.css?02be02b69867216c984a rel=stylesheet></head>

<body>
    <div id=root>
    </div>
    <script src=./Public/Backstage/dll/editor_dll.js></script>
    <script src=./Public/Backstage/dll/vendor_dll.js></script>
    <script src=./Public/Backstage/dll/ui_dll.js></script>
<script type=text/javascript src=./Public/Backstage/index.02be02b6.js?02be02b69867216c984a></script></body>

</html>