<!-- index.html -->
<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <title>index</title>
<link href=./Public/Front/index.de31a08c8b5676478301.css?de31a08c8b5676478301 rel=stylesheet></head>

<body>
    <div id=root>
    </div>
    <script src=./Public/Front/dll/vendor_dll.js></script>
<script type=text/javascript src=./Public/Front/index.de31a08c.js?de31a08c8b5676478301></script></body>

</html>