<html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="__IMAGES__index/fav.png">
    <title>登录</title>
    <meta charset="utf-8">
    <link href="./Public/Back/login.css" type="text/css" rel="stylesheet">
</head>
<body>

<div class="login">

    <div class="right">
        <form action="./login" method="post">
            <table class="table">
                <tr>
                    <td><span id="lo">登录</span></td>
                </tr>

                <tr>
                    <td><img  id="user-img" src="./images/2015-04-20_105536.png"><input type="text"  name="user"placeholder="请输入登录名" id="txt"></td>
                </tr>
                <tr>
                    <td><img id="pwd-img" src="./images/2015-04-20_105837.png"><input id="pwd" type="password" name="pass" placeholder="请输入密码" id="pwd"></td>
                </tr>
                <tr>
                    <td><input type="submit" style="background:url(./images/login_signin.png);width:125px;height:45px;" value=""></td>

                </tr>

            </table>
        </form>
        <span id="line">---------------------------------------</span>

    </div>

</div>

</body>
</html>
